---
import Layout from '../layouts/Layout.astro'
import TableNumber from '../components/react/TableNumber.jsx'
import DropDown from '../components/react/Dropdown.jsx'
import RedButton from '../components/buttons/RedButton.astro'

import "../styles/global.css"

const search = Astro.url.searchParams.get('search')! || '';


---


<Layout title="">
  <div class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory">
    <div class="h-screen snap-start md:py-20">
      <TableNumber client:only="react" />
    </div>
</Layout>
