---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/marinecorps/Hero.astro";
import DropDown from "../components/react/Dropdown.jsx";
import RedButton from "../components/buttons/RedButton.astro";
import miuLogo from "../../assets/Marine Innovation Unit - White.png";
import { Image } from 'astro:assets';

import "../styles/global.css";
---
<Layout title="">
  <div
    class="max-h-screen overflow-y-scroll scrollbar-hide snap-y snap-mandatory"
  >
    <div class="h-screen md:py-20">
      <Hero
        title="WELCOME TO THE MARINE CORPS BALL"
        content="Find your seat"
        padding="pt-12"
      />
      <div class="mb-12 flex justify-center mt-10">
        <DropDown client:only="react" />
      </div>
      <div class="flex justify-center">
        <Image 
          src={miuLogo} 
          alt="Marine Innovation" 
          width="250%"
          height="35%"
        />
      </div>
      <div style=" max-width: fit-content; margin-left: auto; margin-right: auto; padding-bottom: 100px !important; padding-top: 100px !important;">
        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/HKpfV_dKOWY?si=ywwcxcuYSLsMJJ5B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  
      </div>
    </div>
  </div>
</Layout>
