---
import RedButton from "../buttons/RedButton.astro";

interface Props {
  title: string;
  content: string;
  link?: string;
  linkText?: string;
  padding: string;
}

const { title, content, link = null, linkText = null, padding } = Astro.props;
---

<script>
  function handleLoad() {
    document.querySelector("h1").style.transform = "scale(1)";
  }

  window.addEventListener("load", handleLoad);
</script>
<div class:list={["max-w-[85rem] mx-auto px-4 pt-inherit pt-12", padding]}>
  <!-- Title -->
  <div class="max-w-6xl mx-auto text-center">
    <h1
      class="text-4xl font-bold bg-gradient-to-r from-slate-100 via-slate-50 to-slate-200 inline-block text-transparent bg-clip-text transform transition-transform duration-1000"
      style="transform: scale(0.5);"
    >
      {title}
    </h1>
  </div>
  <!-- End Title -->

  <div class="max-w-3xl mx-auto mt-5 text-center">
    <p class="text-lg text-slate-600 dark:text-slate-400 tracking-wide">
      {content}
    </p>
  </div>

  <!-- Buttons -->
  {
    link ? (
      <div class="grid w-full gap-3 mt-8 sm:inline-flex sm:justify-center">
        <RedButton
          href={link}
          text={linkText}
        />
      </div>
    ) : (
      ""
    )
  }
  <!-- End Buttons -->
</div>
